<a href="https://colab.research.google.com/github/nwkrix/pythonbasics/blob/pandas/apply_fcn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df = pd.read_csv("https://bit.ly/2Nr9enx")
def fcn(arg):
    return arg*2
df["AgeTimes2"] = df.Age.apply(fcn) # df.Age is the input arg to the fcn
df

In [6]:
#Equivalently: using a lambda a fcn
import pandas as pd
Df = pd.read_csv("https://bit.ly/2Nr9enx")
Df["AgeTime2"] = Df.Age.apply(lambda x: x*2) # Df.Age is the input to the lambda fcn with arg x:
Df

                         Name Sex  Age  Tickets    Fare  AgeTime2
0                 Barth Nnadi   M   23   A/2094  200.98        46
1                   Yess Sada   F   18   A/2095  344.21        36
2                  David Vega   M   17   A/2908  450.01        34
3        Diego Sanchez Paloma   M   29   B/2345  120.23        58
4  Maduabuchi Ekenedirichukwu   M   19   B/3456  500.43        38
5   Bartholomew James Perters   M   23   B/5678  245.90        46
6     Mary Magdalene Gonzales   F   25   B/0909   10.23        50
7               Janet Woodson   F   23   B/2303  100.10        46
8             Pascal Ignatius   M   33    B/100  800.05        66
9                Nneka Obieze   F   12   C/0034    1.32        24