<a href="https://colab.research.google.com/github/nwkrix/pythonbasics/blob/pandas/dframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using pandas library:- creating DataFrame from Series

In [2]:
import pandas as pd
cities = pd.Series(["NY", "CA", "CM", "EN", "DC"]) # create a series of cities
population = pd.Series([2345607, 8695404, 449556859, 4567786, 4556654]) # creates a series of numbers
dict = {"Cities": cities, "Population": population} # a dictionary mapping strings to the series created 
Data_Frame = pd.DataFrame(dict) # creates a dataframe based on the dict
Data_Frame

  Cities  Population
0     NY     2345607
1     CA     8695404
2     CM   449556859
3     EN     4567786
4     DC     4556654